<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="simple-navbar">
        <div class="container">
            <div class="simple-navbar-content">
                <div class="logo">
                    <a href="http://localhost:5000/">my logo</a>
                </div>
                <ul class="link-list">
                    <li>
                        <a href="http://localhost:5000/">home</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/services">services</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/contact">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <main>
        <section class="contact">
            <div class="title">
                <h1>contact us</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam.</p>
            </div>
            <form class="form">
                <input type="text" placeholder="Name"/>
                <input type="text" placeholder="Email"/>
                <textarea placeholder="write your message..."></textarea>
                <input type="submit">
            </form>
        </section>
    </main>
</body>
</html>